<user-edit></user-edit>
<div class="users-container">
    <div *ngFor="let user of users" class="user-row">
        <span class="users-value">{{user.name}}</span>
        <span class="users-value">{{user.email}}</span>
        <span class="users-value">{{user.birthday | date }}</span>
        <div>
            <i class="glyphicon glyphicon-pencil" (click)="editUser(user)"></i>
            <i class="glyphicon glyphicon-remove" (click)="removeUser(user)"></i>
        </div>
    </div>
</div>

<button type="button" class="btn btn-success add-user-btn" (click)="createNewUser()">New User +</button>
