.users-container {
    padding: 10px;
}

.no-users-message {
    font-style: italic;
}

.user-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
    border: solid #5DB681 1px;
    border-radius: 10px;
}

.users-value {
    width: 30%;
}

.add-user-btn {
    background-color: #5DB681;
    margin-left: 10px;
    margin-bottom: 10px;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon-remove {
    color: darkred;
    margin-left: 10px;
}
